@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');
body {
    color: white;
    /* background: url("/snow.jpg") no-repeat center center fixed, #000000; */
    background: #0f0f23;
    /* background-size: cover; */
    font-family: 'Source Code Pro', monospace;
    font-size: 1em;
}

main {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    /* background: rgba(0, 0, 0, 0.8); */
}

h1 {
    font-size: 1em;
    font-weight: bolder;
    color: rgb(117, 193, 255);
    text-shadow: 0 0 8px #000;
}

h2 {
    font-size: 1em;
    font-weight: bolder;
    margin: 8px 0;
    /* text-shadow: 0 0 4px rgb(255, 255, 255); */
}

section {
    margin: 16px 0;
}

.goldStar {
    color: #ffff66;
}

.silverStar {
    color: #9999cc;
}

.incompleteStar {
    color: transparent;
    user-select: none;
}

.Century {
    color: #ff9ff3;
    text-shadow: 0 0 4px #ff9ff3;
}

.Kellogg {
    color: #0d78bb;
    text-shadow: 0 0 4px #0d78bb;
}

.Lincoln {
    color: #64bbed;
    text-shadow: 0 0 4px #64bbed;
}

.JM {
    color: #cb2026;
    text-shadow: 0 0 4px #cb2026;
}

.Mayo {
    color: #1a743a;
    text-shadow: 0 0 4px #1a743a;
}

.CTECH {
    color: #ffc01f;
    text-shadow: 0 0 4px #ffc01f;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.person,
.stat {
    display: block;
    padding: 4px;
    border-radius: 8px;
    transition: all 0.2s;
    cursor: pointer;
    white-space: pre;
}

.additionalInfo {
    display: none;
    position: relative;
    flex-grow: 1;
    padding: 10px;
    flex-direction: column;
}

.info {
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    padding: 2.5px;
    box-sizing: border-box;
}

.person:hover>.additionalInfo {
    display: flex;
}

.person:hover,
.stat:hover {
    background: rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}

section {
    margin-top: 1.5vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

video {
    z-index: 100;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}