@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');
body {
    color: white;
    background-color: black;
}

* {
    font-family: 'Source Code Pro', monospace;
}

.goldStar {
    color: #ffff66;
}

.silverStar {
    color: #9999cc;
}

.incompleteStar {
    color: transparent;
}

.mayo {
    color: green;
}

.jm {
    color: #cb2026;
}

.century {
    color: blue;
}

.lincoln {
    color: #3d93d3;
}

.ctech {
    color: #fdb116;
}

.kellogg {
    color: #345fa3;
}

h2 {
    margin-bottom: 5px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

person,
stat {
    display: block;
    white-space: pre;
}

section {
    margin-top: 1.5vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}